.global {
  text-align: center;
  margin-top: 12rem;
}

.global .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 3rem;
  align-items: center;
}

.global .container h2 {
  font-size: 2rem;
  font-weight: 200;
}

.number-circle {
  display: inline-block;
  border-radius: 50%;
  width: 10rem;
  /* height: 10rem; */
  padding: 1.5rem;
  border-bottom: 2px solid #666;

  color: #666;
  text-align: center;

  font: 2rem Arial, sans-serif;
}

.confirmed {
  /* border: 2px solid #fe5e51; */
  color: #fe5e51;
}

.recovered {
  /* border: 2px solid #4ca64c; */
  color: #4ca64c;
}

.deaths {
  /* border: 2px solid var(--primary-red); */
  color: #ff3232;
}

@media (max-width: 655px) {
  .global .container {
    flex-direction: column;
  }
  .global .container div h2 {
    padding-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .number-circle {
    margin-bottom: 2rem;
  }
  .global img {
    padding-left: 2rem;
  }
}
