@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');

:root {
  --bg-color: #1c1c1f;
  --primary-color: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: 'Tajawal', sans-serif;
  line-height: 1.7;
  background-color: var(--bg-color);
  color: var(--primary-color);
}
